{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(114, 6, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: rgb(131, 16, 54);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 04px 8px rgb(59, 2, 33);
    width: 300px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(131, 33, 62);
}

.label{ 
    margin-bottom: 8px;
    display: block;
    font-size: 14px;
    color: #550505;
}

.input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid#5f0404;
    border-radius: 4px;
    font-size: 14px;
}

.botao{ 
    width: 100%;
    padding: 10px;
    background-color: #610c0c;
    color: rgb(65, 1, 1);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color:aqua
}

.aprovao{
    color:rgb(12, 190, 51)
}

.reprovado{
    color: #fa0d0d;
}

